<div class="row" style=" padding-left: 60px;
  padding-top: 120px;">
  <div class="col-12 text-center">
    <h1 class="text-center" style="font-size: 40px;font-weight: bold;color: #452D14 ">Sự kiện “Frohes Fest” tại Tiktak Coworking Space</h1>
  </div>
  <div class="col-6 text-center">
    <img src="../../../../assets/images/1.jpg" height="500px" width="500px"/>
  </div>
  <div class="col-6" style="font-size: 18px;font-weight: bold;">
    <p style="font-size: 20px;">Kính gửi Quý khách hàng,</p>
    <p>Nhằm tri ân và hòa mình cùng không khí lễ hội mùa cuối năm, Ban quản lý tòa nhà xin gửi đến Quý khách hàng
      thông tin về sự kiện “ Frohes Fest” ngày 24 tháng 12 năm 2021 này tại Tiktak Coworking Space của chúng ta:</p>
    <p>– Sự kiện chính:</p>
    <p>1. Flea Market;</p>
    <p>2. Warming party;</p>
    <p>3. Special Gift for The best</p>
    <p>4. Free Gift Wrapping (từ ngày 20/12/2021-12h00 ngày 24/12/2021)</p>
    <p>– Thời gian: Từ 17h00 ngày 24 tháng 12 năm 2021 tại sảnh Không gian chung;</p>
    <p>– Các Công ty đăng kí Số lượng người tham dự, Số người đăng ký gian hàng tại “ Chợ Phiên” trước 10h00 ngày 20
      tháng 12 năm 2021 ( Lưu ý: Chỉ dành cho khách hàng đang làm việc tại Diamond Time Complex)</p>
    <p>– Chi tiết thông tin chương trình xin Quý khách hàng xem tại Poster hoặc liên hệ Ban quản lý tòa nhà, Lễ tân để
      nắm được thông tin cụ thể hơn.</p>
    <p>Trân trọng!</p>
  </div>
</div>
