<div class="row" style=" padding-left: 60px;
  padding-top: 120px;">
  <div class="col-12 text-center">
    <h1 class="text-center" style="font-size: 40px;font-weight: bold;color: #452D14 ">Sự kiện “Frohes Fest” tại Tiktak Coworking Space</h1>
  </div>
  <div class="col-6 text-center">
    <img src="../../../../assets/images/1.jpg" height="500px" width="500px"/>
  </div>
  <div class="col-6" style="font-size: 18px;font-weight: bold;">
      <p style="font-size: 20px;">Kính gửi Quý khách hàng,</p>
      <p>Nhằm tri ân và hòa mình cùng không khí lễ hội mùa cuối năm, Ban quản lý tòa nhà xin gửi đến Quý khách hàng
        thông tin về sự kiện “ Frohes Fest” ngày 24 tháng 12 năm 2021 này tại Tiktak Coworking Space của chúng ta:</p>
      <p>– Sự kiện chính:</p>
      <p>1. Flea Market;</p>
      <p>2. Warming party;</p>
      <p>3. Special Gift for The best</p>
      <p>4. Free Gift Wrapping (từ ngày 20/12/2021-12h00 ngày 24/12/2021)</p>
      <p>– Thời gian: Từ 17h00 ngày 24 tháng 12 năm 2021 tại sảnh Không gian chung;</p>
      <p>– Các Công ty đăng kí Số lượng người tham dự, Số người đăng ký gian hàng tại “ Chợ Phiên” trước 10h00 ngày 20
        tháng 12 năm 2021 ( Lưu ý: Chỉ dành cho khách hàng đang làm việc tại Diamond Time Complex)</p>
      <p>– Chi tiết thông tin chương trình xin Quý khách hàng xem tại Poster hoặc liên hệ Ban quản lý tòa nhà, Lễ tân để
        nắm được thông tin cụ thể hơn.</p>
      <p>Trân trọng!</p>
  </div>
</div>

<div class="row" style=" padding-left: 60px;
  padding-top: 120px;">
  <div class="col-12 text-center">
    <h1 class="text-center" style="font-size: 40px;font-weight: bold;color: #452D14 ">Mừng Giáng sinh, tưng bừng ưu đãi lớn</h1>
  </div>
  <div class="col-6 text-center">
    <img src="../../../../assets/images/2.jpg" height="500px" width="500px"/>
  </div>
  <div class="col-6" style="font-size: 18px;font-weight: bold;">
    <p>Nhân dịp Giáng sinh, Tiktak dành tặng bạn chương trình ưu đãi lớn chưa từng có dành riêng cho chỗ ngồi linh hoạt:<br>
      – Tặng ngay 1 chỗ ngồi linh hoạt khi đăng ký nhóm 3 người<br>
      – Tặng ngay 1 tuần sử dụng khi ký hợp đồng 2 tháng<br>
      – Tặng ngay 2 tuần sử dụng khi ký hợp đồng 3 tháng</p>
    <p>Thời gian áp dụng: 1-31/12/2021</p>
    <p>Tiktak Coworking Space nằm tại vị trí trung tâm quận Hải Châu – vị trí đắc địa bậc nhất Đà Nẵng, dễ dàng di chuyển đến các trung tâm hành chính – kinh tế của thành phố.</p>
    <p>Mỗi văn phòng riêng đều được trang bị đầy đủ trang thiết bị với diện tích phù hợp. Ngoài ra, Tiktak cung cấp chỗ ngồi linh hoạt thoải mái, đảm bảo không gian làm việc yên tĩnh với không gian chung rộng rãi, hiện đại.</p>
    <p>Nhiều dịch vụ tiện ích MIỄN PHÍ:<br>
      – Miễn phí sử dụng wifi, internet đường truyền tốc độ cao<br>
      – Miễn phí khu vực tiếp khách sang trọng, hiện đại, rộng rãi<br>
      – Miễn phí sử dụng bãi đỗ xe ngay trong tòa nhà<br>
      – Miễn phí sử dụng hệ thống các phòng chức năng như Meeting room, Pantry, Well-Being room tiện nghi với đầy đủ tiện ích hiện đại<br>
      – Hệ thống CCTV an ninh, thang máy hoạt động 24/24, đảm bảo an toàn<br>
      – Đội ngũ nhân sự vận hành và quản lý tòa nhà chuyên nghiệp với chuyên môn cao, hỗ trợ đa ngôn ngữ<br>
      Đặc biệt, Tiktak sở hữu hệ thống tiện ích ngay trong toà nhà phong phú, đa dạng: trung tâm thương mại, nhà hàng, cafe &amp; lounge…<br>
      ————————————————————————<br>
      Tiktak Coworking Space<br>
      𝐴𝑑𝑑𝑟𝑒𝑠𝑠: Floor 3, 𝑃ℎ𝑢𝑜𝑐 𝑁𝑖𝑛ℎ 𝑊𝑎𝑟𝑑, 𝐻𝑎𝑖 𝐶ℎ𝑎𝑢 𝐷𝑖𝑐𝑠𝑡𝑟𝑖𝑐𝑡, 𝐷𝑎 𝑁𝑎𝑛𝑔 𝐶𝑖𝑡𝑦<br>
      𝐻𝑜𝑡𝑙𝑖𝑛𝑒: 0811 123 456<br>
      𝐸𝑚𝑎𝑖: c0821g1@𝑑𝑖𝑎𝑚𝑜𝑛𝑑𝑡𝑖𝑚𝑒.𝑣𝑛</p>
  </div>
</div>


